aiohttp~=3.8.1
blspy~=1.0.13
cryptography~=36.0.2
aiosqlite~=0.17.0
click~=7.1.2
PyYAML~=6.0
colorama~=0.4.4
aiofiles~=0.7.0
filelock~=3.4.2
bitstring~=3.1.9
chiavdf~=1.0.6
clvm~=0.9.7
fasteners~=0.16.3
watchdog~=2.1.7
colorlog~=6.6.0
setproctitle~=1.2.3
chiabip158~=1.1
keyring~=23.0.1
chiapos~=1.0.10
dnslib~=0.9.17
packaging~=21.0
sortedcontainers~=2.4.0
zstd~=1.5.0.4
setuptools~=60.2.0
pytest~=7.1.2
psutil~=5.9.1
dnspython~=2.2.1